$def with (output, now)

<body onload="draw($output[0]['s_rate']);">
  $ errors = 0
  $ color = "green"
  <div>
    <div class="download-header">
      <button class="download-button" onclick="window.location.href = 'download';">Download Report</button>
    </div>
    <div style="height: 100%;border-right:2px solid #ccc; padding:5px;overflow-x: hidden; float:left; width:48%">
      $for server in range(len(output)):
        $code:
            errors = 0
            color = "green"

        $for check in output[server]['result'].keys():
            $ isError = output[server]['result'].get(check)
            $if isError != 0:
                $code:
                    errors=errors+1

        $if errors > 0:
            $code:
                color = "red"
            <button class="accordion ${color}" onmouseenter="draw($output[server]['s_rate'])">$output[server]['name']: $errors error(s)</button>
            <div class="panel">

            <br>
            <table width=100%>
            <thead class="server-link">
            <tr><th colspan="2">
            <a href="$output[server]['url']" target="_blank">$output[server]['name']</a>
            </th></tr>
            </thead>
            $for check in output[server]['result'].keys():
                $ isError = output[server]['result'].get(check)
                $if isError != 0:
                    <tr>
                    <td><a href="$output[server]['url']/$check"
                      target="_blank">$check</a></td>
                    <td><a href="$output[server]['url']/$check"
                       target="_blank"><img src="static/img/error.png"></a></td>
                    </tr>
                $else:
                    <tr>
                    <td>$check</td>
                    <td><img src="static/img/ok.png"></td>
                    </tr>

            </table>
            </div>
        $else:
            $code:
                color = "green"
            <button class="accordion ${color}" onmouseenter="draw($output[server]['s_rate'])">$output[server]['name']</button>
            <div class="panel">

            <br>
            <table width=100%>
            <thead class="server-link">
            <tr><th colspan="2">
            <a href="$output[server]['url']" target="_blank">$output[server]['name']</a>
            </th></tr>
            </thead>
            $for check in output[server]['result'].keys():
                $ isError = output[server]['result'].get(check)
                $if isError != 0:
                    <tr>
                    <td><a href="$output[server]['url']/$check"
                      target="_blank">$check</a></td>
                    <td><a href="$output[server]['url']/$check"
                       target="_blank"><img src="static/img/error.png"></a></td>
                    </tr>
                $else:
                    <tr>
                    <td>$check</td>
                    <td><img src="static/img/ok.png"></td>
                    </tr>

            </table>
            </div>
</div>


    <div class="canvas-container">
      <div class="canvas-graph">
        <div class="canvas-header">
          <h2 style="margin: 0">Hosts status</h2>
        </div>
        <canvas id="canvas" width="400" height="400"></canvas>
      </div>
    </div>

    <div style="height: 10%; float:right">
      <br><br><br>
      Latest update: $now.day/$now.month/$now.year, $now.hour:$now.minute:$now.second
      <br><br>
      <a href="/">Home</a> | <a href="/help">Help</a>
    </div>

  </div>
</body>

<script src="static/monit-dashboard.js" type="text/javascript"></script>
